In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('E:\KeystoneProject\data\Indoor_Plant_Health_and_Growth_Factors.csv')
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\K'
<>:1: SyntaxWarning: invalid escape sequence '\K'
C:\Users\ewald\AppData\Local\Temp\ipykernel_22460\1544166796.py:1: SyntaxWarning: invalid escape sequence '\K'
  df = pd.read_csv('E:\KeystoneProject\data\Indoor_Plant_Health_and_Growth_Factors.csv')

,Plant_ID,Height_cm,Leaf_Count,New_Growth_Count,Health_Notes,Watering_Amount_ml,Watering_Frequency_days,Sunlight_Exposure,Room_Temperature_C,Humidity_%,Fertilizer_Type,Fertilizer_Amount_ml,Pest_Presence,Pest_Severity,Soil_Moisture_%,Soil_Type,Health_Score
0,Sansevieria cylindrica,17.39,17,8,Yellowing leaves,205,3,3h direct morning sun,21.7,77.5,Organic,82,Fungus gnats,Moderate,51.9,Clay,1
1,Aloe vera,9.84,31,9,NaN,191,1,3h direct morning sun,22.6,68.9,NaN,91,Aphids,Low,28.2,Loamy,2
2,Ficus lyrata,19.82,40,8,Brittle leaves,477,5,Indirect light all day,17.2,44.3,Liquid feed,90,NaN,High,13.6,Sandy,1
3,Monstera deliciosa,37.08,11,1,New bud,207,1,Low light corner,25.0,72.2,Compost,76,Fungus gnats,Low,38.4,Sandy,4
4,Ficus lyrata,2.96,26,3,Wilting,465,2,Filtered sunlight through curtain,23.2,51.6,Compost,37,Fungus gnats,Low,37.9,Peaty,1

In [6]:
df.describe()

,Height_cm,Leaf_Count,New_Growth_Count,Watering_Amount_ml,Watering_Frequency_days,Room_Temperature_C,Humidity_%,Fertilizer_Amount_ml,Soil_Moisture_%,Health_Score
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,25.723450,27.038000,4.520000,279.337000,3.424000,23.947600,54.707300,48.383000,34.728700,3.040000
std,10.448949,12.743585,2.844942,124.504598,1.755935,3.161621,14.411996,28.530831,14.511833,1.417889
min,-4.140000,5.000000,0.000000,51.000000,1.000000,14.300000,30.000000,0.000000,10.100000,1.000000
25%,19.030000,16.000000,2.000000,174.750000,2.000000,21.700000,42.100000,25.000000,22.200000,2.000000
50%,25.965000,26.000000,5.000000,279.000000,3.000000,23.900000,54.650000,47.000000,34.100000,3.000000
75%,32.627500,38.000000,7.000000,389.000000,5.000000,26.100000,67.100000,73.250000,47.625000,4.000000
max,57.600000,49.000000,9.000000,499.000000,6.000000,34.600000,80.000000,99.000000,59.900000,5.000000

In [7]:
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Plant_ID                 1000 non-null   object
 1   Height_cm                1000 non-null   float64
 2   Leaf_Count               1000 non-null   int64
 3   New_Growth_Count         1000 non-null   int64
 4   Health_Notes             882 non-null    object
 5   Watering_Amount_ml       1000 non-null   int64
 6   Watering_Frequency_days  1000 non-null   int64
 7   Sunlight_Exposure        1000 non-null   object
 8   Room_Temperature_C       1000 non-null   float64
 9   Humidity_%               1000 non-null   float64
 10  Fertilizer_Type          805 non-null    object
 11  Fertilizer_Amount_ml     1000 non-null   int64
 12  Pest_Presence            798 non-null    object
 13  Pest_Severity            758 non-null    object
 14  Soil_Moisture_%          1000 non-null   float64
 15  Soil_Type                1000 non-null   object
 16  Health_Score             1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [8]:
df.shape

(1000, 17)

In [9]:
df.value_counts('Plant_ID')

Plant_ID
Dracaena trifasciata       59
Monstera deliciosa         56
Aloe vera                  55
Philodendron hederaceum    54
Peperomia obtusifolia      53
Sansevieria cylindrica     52
Aglaonema commutatum       52
Nephrolepis exaltata       52
Chlorophytum comosum       51
Begonia maculata           51
Anthurium andraeanum       50
Epipremnum aureum          49
Schefflera arboricola      49
Spathiphyllum wallisii     49
Zamioculcas zamiifolia     48
Calathea orbifolia         47
Ficus lyrata               46
Codiaeum variegatum        45
Dieffenbachia seguine      41
Tradescantia zebrina       41
Name: count, dtype: int64

In [10]:
df.value_counts('Health_Notes')

Health_Notes
New bud             154
Wilting             129
Yellowing leaves    126
Leaf drop           125
Brittle leaves      121
Strong stem         117
Dark green color    110
Name: count, dtype: int64

In [11]:
df.value_counts('Sunlight_Exposure')

Sunlight_Exposure
3h direct morning sun                219
Filtered sunlight through curtain    206
6h full sun                          202
Indirect light all day               192
Low light corner                     181
Name: count, dtype: int64

In [12]:
df.value_counts('Fertilizer_Type')

Fertilizer_Type
Chemical       216
Liquid feed    202
Compost        196
Organic        191
Name: count, dtype: int64

In [13]:
df.value_counts('Pest_Presence')

Pest_Presence
Whiteflies      212
Spider mites    197
Aphids          196
Fungus gnats    193
Name: count, dtype: int64

In [14]:
df.value_counts('Pest_Severity')

Pest_Severity
Low         264
Moderate    258
High        236
Name: count, dtype: int64

In [15]:
df.value_counts('Soil_Type')

Soil_Type
Clay      173
Chalky    172
Silty     170
Loamy     166
Peaty     160
Sandy     159
Name: count, dtype: int64

In [20]:
df['Soil_Moisture_%'].describe()

count    1000.000000
mean       34.728700
std        14.511833
min        10.100000
25%        22.200000
50%        34.100000
75%        47.625000
max        59.900000
Name: Soil_Moisture_%, dtype: float64

In [23]:
#df.isnull()

In [25]:
df.duplicated().value_counts()

False    1000
Name: count, dtype: int64

In [ ]:
# Need to potentially map some of the categorical columns to numerical/change data type.